{% extends "atm/base.html" %}

{% block title %}Account{% endblock title %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                {{ message }}
            </div>
        {% elif message.tags == 'success' %}
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


<div class="flex justify-center">
  <div class="rounded px-7 py-5 m-2 shadow w-10/12 mb-2 bg-white flex md:justify-center">
      <div class="p-0.5 md:w-1/4 items-center py-1.5">
        <p class="text-2xl lining-nums">K {{account.balance}}</p>
      </div>
      <div class="p-0.5 md:w-1/4 py-1.5">
          <p class="italic text-xs">{{request.user.email}}</p>
          <p class="font-semibold text-sm">{{request.user.first_name}} {{request.user.last_name}}</p>
      </div>
      <div class="p-0.5 md:w-1/4 py-1.5">
          <p class="italic text-xs">Account No.</p>
          <p class="lining-nums">{{account.account_no}}</p>
      </div>
      <div class="p-0.5 md:w-1/4 py-1.5">
          <p class="italic text-xs">Card ID</p>
          <p class="lining-nums">{{account.card_no}}</p>
      </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="rounded px-7 py-5 m-2 shadow w-10/12 mb-2 bg-white flex md:justify-center">
      <div id="chart1" class="w-2/3"></div>
      <div id="chart2" class="w-1/3"></div>
  </div>
</div>

<div class="flex justify-center">
  <div class="rounded px-7 py-5 m-2 shadow w-10/12 mb-2 bg-white">
      <table class="border-collapse border border-slate-400 w-full text-center">
          <thead class="bg-gray-100">
              <tr>
                  <th class="border p-1.5">Transaction ID</th>
                  <th class="border p-1.5">Account No.</th>
                  <th class="border p-1.5">Type</th>
                  <th class="border p-1.5">Amount</th>
                  <th class="border p-1.5">Sender</th>
                  <th class="border p-1.5">Recipient</th>
                  <th class="border p-1.5">Status</th>
              </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr>
                  <td class="border p-1.5"><strong>{{transaction.id}}</strong></td>
                  <td class="border p-1.5">{{transaction.account.account_no}}</td>
                  <td class="border p-1.5">{{transaction.transaction_type}}</td>
                  <td class="border p-1.5">{{transaction.amount}}</td>
                  <td class="border p-1.5">{% if transaction.sender %}{{transaction.sender.username}}{% else %}N/A{% endif %}</td>
                  <td class="border p-1.5">{% if transaction.recipient %}{{transaction.recipient.username}}{% else %}N/A{% endif %}</td>
                  <td class="border p-1.5">{{transaction.transaction_status}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
      var optionsChart1 = {
          series: [
          {
            name: "High - 2013",
            data: [28, 29, 33, 36, 32, 32, 33]
          },
          {
            name: "Low - 2013",
            data: [12, 11, 14, 18, 17, 13, 13]
          }
        ],
          chart: {
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          zoom: {
            enabled: false
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: true,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'Average High & Low Temperature',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
          title: {
            text: 'Month'
          }
        },
        yaxis: {
          title: {
            text: 'Temperature'
          },
          min: 5,
          max: 40
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
      };

      var chart1 = new ApexCharts(document.querySelector("#chart1"), optionsChart1);
      chart1.render();

        var optionsChart2 = {
          chart: {
            type: 'pie'
          },
          series: [],
          labels: [],
        };
      
        var chart2 = new ApexCharts(document.querySelector("#chart2"), optionsChart2);
        chart2.render();
      
        // Function to update the chart with new data
        function updateChart(data) {
          chart2.updateSeries(data.series);
          chart2.updateOptions({
            labels: data.labels
          });
        }
      
        // AJAX call to get the data
        $.ajax({
          url: '/api/transactions/stats/{{account.id}}/pie/',
          method: 'GET',
          success: function(response) {
            var data = {
              series: response.series,
              labels: response.labels
            };
            updateChart(data);
          },
          error: function(error) {
            console.error('Error fetching data', error);
          }
        });
    });      
</script>
{% endblock script %}