{% extends "atm/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="flex justify-center">
    <form action="{% url "base:login" %}" method="post" class="rounded-md shadow-sm bg-white p-5 md:h-1/4 md:w-1/4 sm:h-1/2 sm:w-1/2 mt-48">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == 'success' %}
                    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="mb-2">
          <input type="text" name="card_no" class="text-center block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-100 sm:text-sm sm:leading-6" placeholder="Card Number" maxlength="16" minlength="16">
        </div>
        <div class="mb-3">
          <input type="password" name="pin" class="text-center block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-100 sm:text-sm sm:leading-6" placeholder="Pin" maxlength="4" minlength="4">
        </div>
        <div>
          <button type="submit" class="w-full bg-gray-400 text-white text-sm font-bold uppercase py-2 rounded shadow outline-none focus:outline-none">Login</button>
        </div>
    </form>
</div>
{% endblock content %}