{% extends "atm/base.html" %}

{% block title %}Transfer{% endblock title %}

{% block header %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Transfer</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                  <h2 class="mb-0">Deposit</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="flex justify-center">
    <div class="rounded px-7 py-5 m-2 shadow w-10/12 mb-2 bg-white flex md:justify-center">
        <div class="w-1/3">
            <form action="post" action="{% url "transaction:deposit" %}" class="p-0.5">
                <p class="text-lg mb-2">Deposit</p>
                <p class="text-xs italic">Enter your amount below.</p>
                <hr class="my-4">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                {{ message }}
                            </div>
                        {% elif message.tags == 'success' %}
                            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <input type="number" name="amount" class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-100 sm:text-sm sm:leading-6" placeholder="Amount" min="1">
                </div>
                <div>
                    <button type="submit" class="w-full bg-gray-400 text-white text-sm font-bold uppercase py-2 rounded shadow outline-none focus:outline-none">Enter</button>
                </div>
            </form>
        </div>
        <div class="w-2/3">
            <div class="p-0.5"></div>
        </div>
    </div>
</div>
{% endblock content %}